# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
dfweather = pd.read_csv('weatherdata.csv')
dfweather

,Unnamed: 0,date,city,country,lat,lng,temp,maxtemp,humidity,cloud,wind,just_date
0,0,2020-01-11 15:58:26,Bubaque,GW,11.28,-15.83,26.55,26.55,53,33,1.61,2020-01-11
1,1,2020-01-11 15:54:07,Cape Town,ZA,-33.93,18.42,23.92,25.00,64,0,8.20,2020-01-11
2,2,2020-01-11 15:55:26,Ushuaia,AR,-54.80,-68.30,11.44,12.00,66,75,12.90,2020-01-11
3,3,2020-01-11 15:58:26,Sao Mateus,BR,-18.72,-39.86,31.32,31.32,49,29,4.49,2020-01-11
4,4,2020-01-11 15:58:27,Tupik,RU,54.43,119.93,-23.83,-23.83,89,97,1.74,2020-01-11
...,...,...,...,...,...,...,...,...,...,...,...,...
547,547,2020-01-11 15:59:08,Mortka,RU,59.33,66.02,-10.58,-10.58,94,100,3.37,2020-01-11
548,548,2020-01-11 15:59:08,Poronaysk,RU,49.22,143.12,-7.81,-7.81,93,100,2.24,2020-01-11
549,549,2020-01-11 15:59:08,Taraclia,MD,45.90,28.67,5.50,5.50,70,73,4.12,2020-01-11
550,550,2020-01-11 15:59:08,Koster,ZA,-25.86,26.90,24.20,24.20,57,74,3.21,2020-01-11
551,551,2020-01-11 15:59:09,Strezhevoy,RU,60.73,77.59,-9.00,-9.00,78,100,6.00,2020-01-11

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:

import gmaps
gmaps.configure(api_key=gkey)
# Google developer API key
# Access maps with unique API key
# Create a list containing coordinates
coordinates = []
lat = []
lng = []

for column in dfweather:
    columnSeriesObj = dfweather['lat']
    lat.append(dfweather['lat'])

    
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}


locations = dfweather[['lat', 'lng']]
weights = dfweather['humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
dfweather

,Unnamed: 0,date,city,country,lat,lng,temp,maxtemp,humidity,cloud,wind,just_date
0,0,2020-01-11 15:58:26,Bubaque,GW,11.28,-15.83,26.55,26.55,53,33,1.61,2020-01-11
1,1,2020-01-11 15:54:07,Cape Town,ZA,-33.93,18.42,23.92,25.00,64,0,8.20,2020-01-11
2,2,2020-01-11 15:55:26,Ushuaia,AR,-54.80,-68.30,11.44,12.00,66,75,12.90,2020-01-11
3,3,2020-01-11 15:58:26,Sao Mateus,BR,-18.72,-39.86,31.32,31.32,49,29,4.49,2020-01-11
4,4,2020-01-11 15:58:27,Tupik,RU,54.43,119.93,-23.83,-23.83,89,97,1.74,2020-01-11
...,...,...,...,...,...,...,...,...,...,...,...,...
547,547,2020-01-11 15:59:08,Mortka,RU,59.33,66.02,-10.58,-10.58,94,100,3.37,2020-01-11
548,548,2020-01-11 15:59:08,Poronaysk,RU,49.22,143.12,-7.81,-7.81,93,100,2.24,2020-01-11
549,549,2020-01-11 15:59:08,Taraclia,MD,45.90,28.67,5.50,5.50,70,73,4.12,2020-01-11
550,550,2020-01-11 15:59:08,Koster,ZA,-25.86,26.90,24.20,24.20,57,74,3.21,2020-01-11
551,551,2020-01-11 15:59:09,Strezhevoy,RU,60.73,77.59,-9.00,-9.00,78,100,6.00,2020-01-11

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
dfweatherideal = dfweather[dfweather.humidity <= 40]
dfweatherideal
dfweatherideal = dfweatherideal[dfweatherideal.wind <= 9]
dfweatherideal
dfweatherideal = dfweatherideal[dfweatherideal.maxtemp <= 23]
dfweatherideal
dfweatherideal = dfweatherideal[dfweatherideal.cloud <= 40]
dfweatherideal
dfweatherideal = dfweatherideal.reset_index(drop=True)
dfweatherideal

,Unnamed: 0,date,city,country,lat,lng,temp,maxtemp,humidity,cloud,wind,just_date
0,60,2020-01-11 15:58:31,Pisco,PE,-13.70,-76.22,22.41,22.78,30,40,3.10,2020-01-11
1,74,2020-01-11 15:58:32,Busselton,AU,-33.65,115.33,18.35,20.56,26,0,4.98,2020-01-11
2,83,2020-01-11 15:58:32,Narsaq,GL,60.92,-46.05,-17.00,-17.00,37,20,3.10,2020-01-11
3,104,2020-01-11 15:57:19,Harlingen,US,26.19,-97.70,17.97,19.44,27,40,6.20,2020-01-11
4,141,2020-01-11 15:58:37,San Quintin,MX,30.48,-115.95,3.89,3.89,30,0,3.58,2020-01-11
5,267,2020-01-11 15:58:47,Taoudenni,ML,22.68,-3.98,21.93,21.93,13,0,4.67,2020-01-11
6,303,2020-01-11 15:58:49,Ubari,LY,26.59,12.78,17.92,17.92,18,0,5.24,2020-01-11
7,355,2020-01-11 15:58:53,Cabra,ES,37.47,-4.44,14.25,16.00,38,0,3.10,2020-01-11
8,402,2020-01-11 15:58:57,Qaqortoq,GL,60.72,-46.03,-17.00,-17.00,37,20,3.10,2020-01-11
9,447,2020-01-11 15:59:01,Mecca,SA,21.43,39.83,19.56,19.56,21,0,4.92,2020-01-11
10,461,2020-01-11 15:59:02,Emporio,GR,40.48,21.55,9.00,9.00,34,40,8.20,2020-01-11

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
# creating containers for apidata
hotel_df = []
hotel_address = []
hotel_lat = []
hotel_lng = []
#doing a loop for the api info on hotels

for index,row in dfweatherideal.iterrows():
    try:
        target_coordinates = f"{row['lat']},{row['lng']}"
        target_radius = 6000
        target_search = "hotel"
        target_type = "hotel"

        params = {
            "location": target_coordinates,
            "radius": target_radius,
            "keyword": target_search,
            "type": target_type,
            "key": gkey
        }

    # base url
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
        response = requests.get(base_url, params=params)

    # Print the json (pretty printed)
        places_data = response.json()
    # # Print the json (pretty printed)
        hotel_df.append(places_data["results"][0]["name"])
        hotel_address.append(places_data["results"][0]["vicinity"])
        hotel_lat.append(places_data["results"][0]["geometry"]["location"]["lat"])
        hotel_lng.append(places_data["results"][0]["geometry"]["location"]["lng"])
    except IndexError:
        hotel_df.append("null")
        hotel_address.append("null")
        hotel_lat.append("null")
        hotel_lng.append("null")

In [34]:


hotel_df

['Embassy Beach',
 'Abbey Beach Resort',
 'Hotel Narsaq',
 'Courtyard by Marriott Harlingen',
 'Old Mill Hotel',
 'null',
 'null',
 'Hotel Villa María',
 'Hotel Qaqortoq',
 'Hotel Pullman Zamzam Makkah',
 'Apsis Hotel']

In [35]:
dfweatherideal["hotel"] = hotel_df
dfweatherideal["address"] = hotel_address
dfweatherideal["hotel_lat"] = hotel_lat
dfweatherideal["hotel_lng"] = hotel_lng
dfweatherideal
#dropping empty rows
narrowed_city_df = dfweatherideal.drop(index=6)
narrowed_city_df = narrowed_city_df.drop(index=5)
narrowed_city_df = narrowed_city_df.reset_index()
narrowed_city_df

,index,Unnamed: 0,date,city,country,lat,lng,temp,maxtemp,humidity,cloud,wind,just_date,hotel,address,hotel_lat,hotel_lng
0,0,60,2020-01-11 15:58:31,Pisco,PE,-13.70,-76.22,22.41,22.78,30,40,3.10,2020-01-11,Embassy Beach,"Jose De San Martin 1119, Pisco",-13.7099,-76.2146
1,1,74,2020-01-11 15:58:32,Busselton,AU,-33.65,115.33,18.35,20.56,26,0,4.98,2020-01-11,Abbey Beach Resort,"595 Bussell Hwy, Broadwater",-33.6584,115.274
2,2,83,2020-01-11 15:58:32,Narsaq,GL,60.92,-46.05,-17.00,-17.00,37,20,3.10,2020-01-11,Hotel Narsaq,"Alangunguup Saqqaa B-819, Narsaq",60.9105,-46.0435
3,3,104,2020-01-11 15:57:19,Harlingen,US,26.19,-97.70,17.97,19.44,27,40,6.20,2020-01-11,Courtyard by Marriott Harlingen,"1725 W Filmore Avenue At, S Expressway 83, Har...",26.186,-97.7144
4,4,141,2020-01-11 15:58:37,San Quintin,MX,30.48,-115.95,3.89,3.89,30,0,3.58,2020-01-11,Old Mill Hotel,Ensenada,30.4851,-115.977
5,7,355,2020-01-11 15:58:53,Cabra,ES,37.47,-4.44,14.25,16.00,38,0,3.10,2020-01-11,Hotel Villa María,"Calle Antonio Povedano, 23, Cabra",37.4704,-4.43981
6,8,402,2020-01-11 15:58:57,Qaqortoq,GL,60.72,-46.03,-17.00,-17.00,37,20,3.10,2020-01-11,Hotel Qaqortoq,"Anders Olsensvej B-1254, Julianehåb",60.7189,-46.0357
7,9,447,2020-01-11 15:59:01,Mecca,SA,21.43,39.83,19.56,19.56,21,0,4.92,2020-01-11,Hotel Pullman Zamzam Makkah,"Abraj Al Bait Complex, King Abdel Aziz Endowme...",21.4193,39.8247
8,10,461,2020-01-11 15:59:02,Emporio,GR,40.48,21.55,9.00,9.00,34,40,8.20,2020-01-11,Apsis Hotel,"Εμπόριο Εορδαίας, Emborio",40.4911,21.5615

In [45]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<font color="#000000"><dl>
<dt>Name</dt><dd>{hotel}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl></font>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hot_locations = narrowed_city_df[["hotel_lat", "hotel_lng"]]

In [47]:
# Add marker layer ontop of heat map
#set up figure
figure_layout = {
    'width': '300px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}


locations = dfweather[['lat', 'lng']]
weights = dfweather['humidity']
#create map figure
fig = gmaps.figure()
#add heatmap layer
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
#add marker layer
markers = gmaps.marker_layer(hot_locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))